* {
   margin: 0;
   padding: 0;
}

body {
   font-family: 'Roboto', sans-serif;
   font-weight: 500;
   font-size: 16px;
   color: #283136;
}

.container {
   width: 80%;
   margin: 0 auto;
}

.text_part h2{
   font-size: 55px;
   font-weight: 500;
   letter-spacing: 1px;
   color: #000;
}

.text_part p {
   line-height: 24px;
   color: #61686c;
   padding-top: 30px;
   padding-bottom: 50px;
}

.but_general {
   border: none;
   border-radius: 3px;
   padding: 20px 0;
   background-color: #fb565a;
   width: 60%;
   text-transform: uppercase;
   color: #fff;
}

.nav,
.promo {
   width: 100%;
   background-color: #eeeeee;
}

.nav .container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 50px;
}

.nav__menu ul {
   list-style: none;
   display: flex;
}

.nav__menu ul li a,
.nav__trolley a {
   text-decoration: none;
   text-transform: uppercase;
   font-weight: 500;
   color: #000000;
}

.nav__menu ul li a:hover,
.nav__trolley a:hover {
   color: rgb(221, 113, 12);
   text-shadow: 0 0 3px;
}


.nav__menu ul li:not(:first-child) {
   margin-left: 50px;
}

.nav__trolley a::before {
   content: "";
   display: inline-block;
   width: 15px;
   height: 15px;
   background-image: url(/images/icon_trolley.png);
   margin-right: 25px;
}

/* .nav__trolley a:hover .nav__trolley a::before {
   width: 25px;
   height: 25px;
   background-color: aqua;
   background-size: cover;
} */

.promo {
   padding: 80px 0;
}

.promo .container {
   display: flex;
   align-items: flex-end;
}

.promo__text,
.promo__choice {
   width: 33%;
}

.promo__choice {
   display: flex;
   justify-content: center;
}